p= "#{t('devise.mailer.reset_password_instructions.hello')} #{@resource.name},"
br
p= t('devise.mailer.reset_password_instructions.reset_password_info')
p= link_to t('devise.mailer.reset_password_instructions.change_my_password'), edit_password_url(@resource, reset_password_token: @token)
br
br
p= t('devise.mailer.reset_password_instructions.ignore_this_email')
p= t('devise.mailer.reset_password_instructions.info_change_password')
